@model IEnumerable<ThAmCo.Events.Models.GuestBookingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["EventBookingName"]</h1>

<h2>Number Of Guests: @Model.Count()</h2>

<p>
    <a asp-action="Create" asp-route-eventId=@ViewData["EventId"]>Add A Guest To This Booking</a> | 
    <a asp-controller="Guests" asp-action="Create">Create New Guest</a> | 
    <a asp-controller="Events" asp-action="Index">Back To Event List</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Guest.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attended)
            </td>
            <td>
                    @Html.ActionLink("Add Attendance", "Edit", new { eventId=item.EventId, guestId=item.GuestId }) |
                    @Html.ActionLink("Remove Guest From Event", "Delete", new { eventId=item.EventId, guestId=item.GuestId })
            </td>
        </tr>
}
    </tbody>
</table>
