@model IEnumerable<ThAmCo.Events.Models.StaffingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["EventBookingName"]</h1>

<p>
    <a asp-action="Create" asp-route-eventId="@ViewData["EventId"]">Create New</a>
</p>

@if ((bool)ViewData["HasRequiredStaff"] == false && (bool)@ViewData["HasFirstAider"] == false)
{


    <div>
        <label  class=" alert alert-warning" role="alert" align="center">
            &#9888; Needs First Aid  Staff and more staff
        </label>
        @*                        <label class="alert alert-warning" role="alert" align="center">
    &#9888; Needs More Staff
    </label>*@
    </div>
}
else if ((bool)@ViewData["HasFirstAider"] == false)
{

    <p colspan="12" align="center">
        <label class="alert alert-warning" role="alert" align="center">
            &#9888; This Event Does Not Have a First Aid Qualified Member Of Staff
        </label>
    </p>

}
else if ((bool)ViewData["HasRequiredStaff"] == false)
{

    <p colspan="12" align="center">
        <label class="alert alert-warning" role="alert" align="center">
            &#9888; This Event Does Not Have The Required Amount Of Staff
        </label>
    </p>

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventId)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a>
                    @Html.ActionLink("Edit", "Edit", new { eventId=item.EventId, staffId = item.StaffId }) |
                    @Html.ActionLink("Details", "Details", new { eventId=item.EventId, staffId = item.StaffId }) |
                @Html.ActionLink("Delete", "Delete", new { eventId=item.EventId, staffId = item.StaffId })
            </td>
        </tr>
}
    </tbody>
</table>
