@model EventViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Do You Want To Delete This Event?</h3>

<div>
    <div>
        <h4>Event Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EventName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EventName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EventDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EventDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EventDuration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EventDuration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VenueName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VenueName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reference)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reference)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EventType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EventType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MenuForEvent)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MenuForEvent)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClientReferenceId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClientReferenceId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EventCost)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EventCost)
            </dd>

        </dl>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
