@model IEnumerable<ThAmCo.Events.Models.EventViewModel>

@{
    ViewData["Title"] = "Index";
}
<link href="~/Stylesheet/bootstrap.css" rel="stylesheet" type="text/css" />
<h1>Upcoming Events</h1>

<p>

    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestCount)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-eventId="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-eventId="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-eventId="@item.EventId">Delete</a> |
                <a asp-controller="GuestBookings" asp-action="Index" asp-route-eventId="@item.EventId">Event Guest List</a> |
                <a asp-controller="Staffings" asp-action="Index" asp-route-eventId="@item.EventId">Event Staffing</a>

            </td>
                @if (item.HasFirstAider == false && item.HasRequiredStaff == false)
                {

                    <td @*colspan="6"*@ >

                        <label class="alert alert-warning" role="alert" align="center" >
                            &#9888; Needs First Aid  Staff and more staff
                        </label>
@*                        <label class="alert alert-warning" role="alert" align="center">
                            &#9888; Needs More Staff
                        </label>*@
                    </td>
                }
                else if (item.HasFirstAider == false)
                {

                    <td @*colspan="6"*@ align="center">
                        <label class="alert alert-warning" role="alert" align="center">
                            &#9888; This Event Does Not Have a First Aid Qualified Member Of Staff
                        </label>
                    </td>

                }
                else if (item.HasRequiredStaff == false)
                {

                    <td @*colspan="6"*@ align="center">
                        <label class="alert alert-warning" role="alert" align="center">
                            &#9888; This Event Does Not Have The Required Amount Of Staff
                        </label>
                    </td>

                }
        </tr>
        }
    </tbody>
</table>
